# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
*.egg-info/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Node
node_modules/
dist/

# Environment
.env

# OS
.DS_Store

# Logs
*.log

# Chika
chika.db
